PORT=4000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/farm-to-table?retryWrites=true&w=majority
CLIENT_URL=http://localhost:5173
NODE_ENV=development
JWT_SECRET=put_some_random_string_here
